{% extends "layouts/default.njk" %}
{% set title = "Work / Sustain-A-Bowl" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', 'work')}}
    <main id="content">

        <!-- Article -->
        <div class="container py-6">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1>Sustain-A-Bowl: mobile web app for a healthy, sustainably-sourced food truck</h1>
                    <hr class="border-1 border-light my-4 ml-0 text-left w-15" role="presentation">
                    <div class="d-flex align-items-center mb-3">
                        <img src="assets/img/profile.jpg" class="avatar avatar-sm mr-3" alt="Dan Smith profile photo">
                        <div class="font-italic small text-light">by <a href="profile.html">Dan Smith</a></div>
                        <div class="small text-secondary ml-auto">July&ndash;August 2020</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white text-black">
            <div class="container py-2">
                <div class="bg-white mt-n6 px-3 px-lg-0">
                    <div class="row justify-content-center py-4 py-lg-5">
                        <div class="col-md-10 col-lg-8">

                            <h2 class="mt-4">Background</h2>
                            <ul>
                                <li>Sustain-A-Bowl is a locally owned food truck that partners with and supports the Philadelphia Urban Farm community to source amazing, fresh ingredients. Our client needed an online presence and ordering system to reflect their casual, convenient, and simple dining experience.
                                </li>
                            </ul>

                            <h3 class="mt-4">Contributions</h3>
                            <ul>
                                <li>User research (interviews, data analysis)</li>
                                <li>Solution ideation, feature design</li>
                                <li>Wireframing, interface design, interaction design, high-fidelity prototyping</li>
                            </ul>
                            
                            <h3 class="mt-4">Timeline</h3>
                            <p>This project lasted for about 7 weeks, from July 2020 to August 2020, with a team of three other designers.</p>


                            <hr class="my-5">


                            <h2 class="mt-4">Problem statement</h2>
                            <p class="font-italic">"How might we use technology to cultivate consistent customer engagement, social impact, and increased revenue for the Sustain-A-Bowl food truck?"</p>


                            <hr class="my-5">


                            <h2 class="mt-4">Solution</h2>
                            <p>The end result was an interactive high-fidelity prototype that highlighted a typical user's flow. Solutions and features were research-driven and were designed to increase the user's efficiency and convenience.</p>


                            <ul>
                                <li><a href="#" target="_blank" class="text-info">Open interactive prototype</a></li>
                                <li><a href="#" target="_blank" class="text-info">Open Figma board</a></li>
                            </ul>


                            <div class="videoWrapper mt-4 mb-4">
                              <iframe width="560" height="349" src="https://www.youtube-nocookie.com/embed/-D18-6CVNjA?rel=0&modestbranding=1&autohide=1&showinfo=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>


                            <hr class="my-5">












                            <h2 class="mt-4">Process</h2>

                            <h3 class="mt-4">Planning</h3>
                            <figure class="figure mt-2">
                                <img src="assets/img/sustain-a-bowl/timeline.png" class="img-fluid" alt="" data-action="zoom">
                            </figure>




                            <h3 class="mt-4">Research</h3>
                            <p>The research for our project was front-loaded</p>


                            <p>Specific research methods included:</p>

                            <ul>
                                <li>Direct and indirect competitive analysis</li>
                                <li>Semi-structured remote user interviews (35 minutes; 8 respondents)</li>
                            </ul>


                            <h3 class="mt-4">Research findings</h3>

                            <ul>
                                <li>Findings</li>
                                <ul>
                                    <li>Detail</li>
                                </ul>
                            </ul>


                            <h3 class="mt-4">Target audience</h2>
                            <p>Primary user type description</p>

                            <figure class="figure mt-2">
                                <img src="assets/img/sustain-a-bowl/persona.png" class="img-fluid" alt="" data-action="zoom">
                            </figure>


                            <h3 class="mt-4">Journey map</h3>
                            <p>Evolution</p>

                            <figure class="figure mt-2">
                                <img src="assets/img/sustain-a-bowl/journey-map.png" class="img-fluid" alt="" data-action="zoom">
                            </figure>


                            <h3 class="mt-4">Design principles</h3>
                            <p class="mb-0">1. <strong>First</strong></p>
                            <p>Description</p>
                            <p class="mb-0">2. <strong>Second</strong></p>
                            <p>Description</p>
                            <p class="mb-0">3. <strong>Third</strong></p>
                            <p class="mb-5">Description</p>



                            <h3 class="mt-4">Other considerations</h3>
                            <ul>
                                <li>Etc.</li>
                            </ul>


                            <hr class="my-5">


                            <h2 class="mt-4">Outcome</h2>
                            <p>The end result ...</p>


                            <h3 class="mt-4">Challenges</h3>
                            <ul>
                                <li>Challenges</li>
                            </ul>


                            <h3 class="mt-4">Reflection</h3>
                            <ul>
                                <li>Reflecting...</li>
                            </ul>


                            <h3 class="mt-4">Next steps</h3>
                            <ul>
                                <li>Next steps</li>
                            </ul>


                            <hr class="my-5">


                            <a href="work.html" class="btn btn-sm btn-outline-dark mr-2 mb-3">
                                <i class="material-icons" style="vertical-align: middle;">arrow_back_ios</i>
                                <span style="vertical-align: middle;">Back to all work</span>
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
{% import 'macros/footer.njk' as footer -%}
{{footer.footer('bg-light', 'text-black')}}
{% endblock %}
