{% macro nav(bgColor, borderColor, navbarColor, activePage) %}
<header class="site-header fixed-top {{bgColor}} border-bottom {{borderColor}}">
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <div class="container">

        <!-- Navbar -->
        <nav class="navbar main-nav navbar-expand-lg {{navbarColor}}" aria-label="Main navigation">
            <a href="/" class="navbar-brand d-inline-flex text-uppercase">Dan Smith <i class="material-icons ml-2" aria-hidden="true">desktop_mac</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-uppercase" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item">
                        <a href="profile.html" class="nav-link{%if activePage == 'profile' %} active{% endif %}">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a href="work.html" class="nav-link{%if activePage == 'work' %} active{% endif %}">Work</a>
                    </li>

                    <li class="nav-item">
                        <a href="contact.html" class="nav-link{%if activePage == 'contact' %} active{% endif %}">Contact</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>
{% endmacro %}
